<div class="column">
  <div class="ui card">
    <div class="content">
      <a class="header">{{ name }}</a>
      <div class="meta">
        <span class="date"><i class="user icon"></i>{{ role }}</span>
      </div>
      <div class="description">
        Email: <a href="mailto:{{ email }}">{{ email }}</a>
      </div>
    </div>
    <div class="extra content">
      <p>
        ID: {{ id }}
      </p>
      <a
        href="https://github.com/{{ github }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ github }}</a
      >
    </div>
  </div>
</div>
