<div class="column">
  <div class="ui card">
    <div class="content">
      <div class="header"><i class="user icon"></i>{{ role }}</div>
    </div>
    <div class="content">
      <h4 class="ui sub header">{{ name }}</h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              Email: <a href="mailto:{{ email }}">{{ email }}</a>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              ID: {{ id }}
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              School: {{ school }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
