<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>

    <!-- semantic UI mdn -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />

    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/c502137733.js"></script>

    <!-- tab icon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://cdn.pixabay.com/photo/2012/04/26/19/43/group-42917_1280.png"
    />
  </head>

  <body>
    <div class="ui purple one item inverted menu" id="header1">
      <h2 class="item" id="team">
        My Team
      </h2>
    </div>
    <div class="ui raised very padded text container segment">
      <div class="ui grid">
        <div class="three column row">
          {{ team }}
        </div>
      </div>
    </div>
  </body>
</html>
